In [1]:
# BATTING POINTS
# run = 1 * / boundary B = 1 * / six B = 2 *30 /run B = 4 @ /Half-century B = 8 @ /Century B = 16 @ /Duck = -2 @

# SR:
# >170 = 6 @# 150-170 = 4 @# 130-150 = 2 @# 60-70 = -2 @# 50-59.00 = -4 @# <50 = -6 @

# BOWLING POINTS# wicket = 25 * # B(LBW/Bowled) = 8 *# 3 w = 4 @# 4 w = 8 @# 5 w = 16 @# maiden = 12 @

# eco:# <5 = 6 @# 5-5.99 = 4 @# 6-7 = 2 @# 10-11 = -2 @# 11.01-12 = -4 @# >12 = -6 @

# FIELDING POINTS
# catch = 8# 3 catch B = 4# stumping = 12# RO(direct hit) = 12 # RO = 6

In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
pd.set_option('display.expand_frame_repr',False)
pd.set_option('max_colwidth',-1)

In [3]:
# df = pd.read_csv('onceAgain/csv_files/T20I_ball_by_ball_updated (2023_08_05 08_12_13 UTC).csv')

# main_teams = ['Australia', 'New Zealand', 'England', 'South Africa',
#        'West Indies', 'Sri Lanka', 'Pakistan', 'India',
#        'Bangladesh','Afghanistan']
# df = df[(df.batting_team.isin(main_teams)) & (df.bowling_team.isin(main_teams))]

# df = df.sort_values(['match_id','innings','ball'],ascending=[True,True,True])
# df.reset_index(inplace=True,drop=True)

In [4]:
# def BPB(balls,boundaries):
#     if boundaries == 0:
#         return balls/1
#     else:
#         return balls/boundaries
# def BPD(balls,dismissals):
#     if dismissals == 0:
#         return balls/1
#     else:
#         return balls/dismissals
# def Bowler_WK(player_dismissed,wicket_type):
#     if type(player_dismissed)==str:
#         if wicket_type not in ['run out','retired hurt', 'obstructing the field', 'retired out']:
#             return 1
#         else:
#             return 0
#     else:
#         return 0

In [5]:
# total0 = pd.DataFrame(df.groupby(['match_id','innings'])[(['runs_off_bat']+['extras'])].sum()).rename(columns={'runs_off_bat':'A','extras':'B'}).reset_index()
# total0['inn_total'] = total0.apply(lambda x : x['A'] + x['B'], axis=1)

# total1 = pd.DataFrame(df[df.innings==1].groupby(['match_id','innings'])[(['runs_off_bat']+['extras'])].sum()).rename(columns={'runs_off_bat':'A','extras':'B'}).reset_index()
# total1['inn1_total'] = total1.apply(lambda x : x['A'] + x['B'], axis=1)

# total = pd.merge(total0,total1,on=['match_id'])

# total = total.drop(['A_x','B_x','innings_y','A_y','B_y'],axis=1).rename(columns={'innings_x':'innings'})

# mdf = pd.merge(df,total,on=['match_id','innings'])

# # df = mdf[(mdf.inn1_total <= 160)].reset_index(drop=True)
# # df = mdf[(mdf.inn1_total >= 161) & (mdf.inn1_total <= 180)].reset_index(drop=True)
# df = mdf[mdf.inn1_total >= 181].reset_index(drop=True)

In [6]:
# df['wides'] = df['wides'].fillna(0)
# df['noballs'] = df['noballs'].fillna(0)
# df['byes'] = df['byes'].fillna(0)
# df['legbyes'] = df['legbyes'].fillna(0)

# df['legal_ball'] = df.apply(lambda x : 0 if x['wides']>0 else 1, axis=1)
# df['legal_ball_bowler'] = df.apply(lambda x : 0 if ((x['wides']>0) | (x['noballs']>0)) else 1, axis=1)

# df['dots'] = df.runs_off_bat.apply(lambda x : 1 if x==0 else 0)
# df['ones'] = df.runs_off_bat.apply(lambda x : 1 if x==1 else 0)
# df['twos'] = df.runs_off_bat.apply(lambda x : 1 if x==2 else 0)
# df['threes'] = df.runs_off_bat.apply(lambda x : 1 if x==3 else 0)
# df['fours'] = df.runs_off_bat.apply(lambda x : 1 if x==4 else 0)
# df['sixes'] = df.runs_off_bat.apply(lambda x : 1 if x==6 else 0)

# Runs = pd.DataFrame(df.groupby(['match_id','striker'])['runs_off_bat'].sum()).reset_index().rename(columns={'runs_off_bat':'runs'})
# Balls = pd.DataFrame(df.groupby(['match_id','striker'])['legal_ball'].sum()).reset_index().rename(columns={'legal_ball':'balls'})
# Dismissals = pd.DataFrame(df.groupby(['match_id','striker'])['player_dismissed'].count()).reset_index().rename(columns={'player_dismissed':'dismissals'})
# Fours = pd.DataFrame(df.groupby(['match_id','striker'])['fours'].sum()).reset_index()
# Sixes = pd.DataFrame(df.groupby(['match_id','striker'])['sixes'].sum()).reset_index()

# playerDf1 = pd.merge(Runs,Balls,on=['match_id','striker'])
# playerDf2 = pd.merge(playerDf1,Fours,on=['match_id','striker'])
# playerDf3 = pd.merge(playerDf2,Sixes,on=['match_id','striker'])
# playerDf4 = pd.merge(playerDf3,Dismissals,on=['match_id','striker'])

# playerDf4['sr'] = playerDf4.apply(lambda x : 0 if x['balls']==0 else (x['runs']/x['balls'])*100, axis=1)
# playerDf4['run_points'] = playerDf4.apply(lambda x : x['runs'],axis=1)
# playerDf4['boundary_bonus'] = playerDf4.apply(lambda x : x['fours'],axis=1)
# playerDf4['six_bonus'] = playerDf4.apply(lambda x : x['sixes']*2,axis=1)
# playerDf4['30s_point'] = playerDf4.apply(lambda x : 1 if x['runs'] >= 30 else 0, axis=1)
# playerDf4['50s_point'] = playerDf4.apply(lambda x : 1 if x['runs'] >= 50 else 0, axis=1)
# playerDf4['100s_point'] = playerDf4.apply(lambda x : 1 if x['runs'] >= 100 else 0, axis=1)

# Innings = pd.DataFrame(playerDf4.groupby(playerDf4['striker'])['match_id'].apply(lambda x : len(list(np.unique(x))))).reset_index().rename(columns={'match_id':'innings'})
# Runs = pd.DataFrame(playerDf4.groupby(['striker'])['runs'].sum()).reset_index()
# Balls = pd.DataFrame(playerDf4.groupby(['striker'])['balls'].sum()).reset_index()
# Dismissals = pd.DataFrame(playerDf4.groupby(['striker'])['dismissals'].count()).reset_index()
# Fours = pd.DataFrame(playerDf4.groupby(['striker'])['fours'].sum()).reset_index()
# Sixes = pd.DataFrame(playerDf4.groupby(['striker'])['sixes'].sum()).reset_index()
# p30 = pd.DataFrame(playerDf4.groupby(['striker'])['30s_point'].sum()).reset_index()
# p50 = pd.DataFrame(playerDf4.groupby(['striker'])['50s_point'].sum()).reset_index()
# p100 = pd.DataFrame(playerDf4.groupby(['striker'])['100s_point'].sum()).reset_index()

# jdf = pd.merge(Innings,Runs,on='striker').merge(Balls,on='striker').merge(Dismissals,on='striker').merge(Fours,on='striker').merge(Sixes,on='striker').merge(p30,on='striker').merge(p50,on='striker').merge(p100,on='striker')

# jdf['sr'] = jdf.apply(lambda x : 0 if x['balls']==0 else (x['runs']/x['balls'])*100, axis=1)
# jdf['run_points'] = jdf.apply(lambda x : x['runs'],axis=1)
# jdf['boundary_bonus'] = jdf.apply(lambda x : x['fours'],axis=1)
# jdf['six_bonus'] =jdf.apply(lambda x : x['sixes']*2,axis=1)
# jdf['duck_bonus'] =jdf.apply(lambda x : x['dismissals']*(-2),axis=1)
# jdf['sr>170'] =jdf.apply(lambda x : 6 if x['sr'] > 170 else 0,axis=1)
# jdf['sr(150-170)'] =jdf.apply(lambda x : 4 if ((x['sr']<=170)&(x['sr']>150)) else 0,axis=1)
# jdf['sr(130-150)'] =jdf.apply(lambda x : 2 if ((x['sr']<=150)&(x['sr']>130)) else 0,axis=1)
# jdf['sr(60-70)'] =jdf.apply(lambda x : -2 if ((x['sr']<=70)&(x['sr']>60)) else 0,axis=1)
# jdf['sr(50-59.99)'] =jdf.apply(lambda x : -4 if ((x['sr']<=59.99)&(x['sr']>50)) else 0,axis=1)
# jdf['sr<50'] =jdf.apply(lambda x : -6 if x['sr'] > 170 else 0,axis=1)
# jdf['30s_point'] = jdf.apply(lambda x : x['30s_point']*4, axis=1)
# jdf['50s_point'] = jdf.apply(lambda x : x['50s_point']*8, axis=1)
# jdf['100s_point'] = jdf.apply(lambda x : x['100s_point']*16, axis=1)

# jdf['POINTS'] = jdf.apply(lambda x : sum(x[['30s_point', '50s_point', '100s_point', 'run_points',
#        'boundary_bonus', 'six_bonus', 'duck_bonus', 'sr>170', 'sr(150-170)',
#        'sr(130-150)', 'sr(60-70)', 'sr(50-59.99)', 'sr<50']])/x['innings'],axis=1)

# jdf = jdf.sort_values('POINTS',ascending=False).reset_index(drop=True)

# # jdf.to_csv('onceAgain/csv_files/fantacy_point/batter_fantasy_point_t20I_greater_than_180_total.csv', index=None)

In [7]:
# df['dots'] = df.runs_off_bat.apply(lambda x : 1 if x==0 else 0)
# df['ones'] = df.runs_off_bat.apply(lambda x : 1 if x==1 else 0)
# df['twos'] = df.runs_off_bat.apply(lambda x : 1 if x==2 else 0)
# df['threes'] = df.runs_off_bat.apply(lambda x : 1 if x==3 else 0)
# df['fours'] = df.runs_off_bat.apply(lambda x : 1 if x==4 else 0)
# df['sixes'] = df.runs_off_bat.apply(lambda x : 1 if x==6 else 0)

# df['isBowlerWicket'] = df.apply(lambda x : Bowler_WK(x['player_dismissed'],x['wicket_type']),axis=1)
# df['runs'] = df['runs_off_bat'].astype(float)
# df['wide'] = df['wides'].fillna(0)
# df['noball'] = df['noballs'].fillna(0)
# df['isBowlerRuns'] = df['runs'] + df['wide'] + df['noball']
# df['isLBW'] = df.apply(lambda x : 1 if x['wicket_type']=='lbw' else 0, axis=1)
# df['isBowled'] = df.apply(lambda x : 1 if x['wicket_type']=='bowled' else 0, axis=1)

# wickets = pd.DataFrame(df.groupby(['match_id','bowler'])['isBowlerWicket'].sum()).reset_index().rename(columns={'isBowlerWicket':'wickets'})
# balls = pd.DataFrame(df.groupby(['match_id','bowler'])['legal_ball_bowler'].sum()).reset_index().rename(columns={'legal_ball_bowler':'balls'})
# runs = pd.DataFrame(df.groupby(['match_id','bowler'])['isBowlerRuns'].sum()).reset_index().rename(columns={'isBowlerRuns':'runs'})
# fours = pd.DataFrame(df.groupby(['match_id','bowler'])['fours'].sum()).reset_index().rename(columns={'isFour':'fours'})
# sixes = pd.DataFrame(df.groupby(['match_id','bowler'])['sixes'].sum()).reset_index().rename(columns={'isSix':'sixes'})
# lbw = pd.DataFrame(df.groupby(['match_id','bowler'])['isLBW'].sum()).reset_index().rename(columns={'isLBW':'lbw'})
# bowled = pd.DataFrame(df.groupby(['match_id','bowler'])['isBowled'].sum()).reset_index().rename(columns={'isBowled':'bowled'})

# bowler_df = pd.merge(wickets,balls,on=['match_id','bowler']).merge(runs,on=['match_id','bowler']).merge(fours,on=['match_id','bowler']).merge(sixes,on=['match_id','bowler']).merge(lbw,on=['match_id','bowler']).merge(bowled,on=['match_id','bowler'])

# bowler_df['runs'] = bowler_df.runs.astype('int')
# bowler_df['eco'] = 6*(bowler_df['runs']/bowler_df['balls'])
# bowler_df['lbw_b'] = bowler_df.apply(lambda x : 8 if (x['lbw'] == 1) else 0, axis=1)
# bowler_df['bowled_b'] = bowler_df.apply(lambda x : 8 if (x['bowled'] == 1) else 0, axis=1)
# bowler_df['3_w_b'] = bowler_df.apply(lambda x : 4 if x['wickets'] == 3 else 0, axis=1)
# bowler_df['4_w_b'] = bowler_df.apply(lambda x : 8 if x['wickets'] == 4 else 0, axis=1)
# bowler_df['5_w_b'] = bowler_df.apply(lambda x : 16 if x['wickets'] == 5 else 0, axis=1)

# innings = pd.DataFrame(bowler_df.groupby(['bowler'])['match_id'].apply(lambda x : len(list(np.unique(x))))).reset_index().rename(columns={'match_id':'innings'})
# Runs = pd.DataFrame(bowler_df.groupby(['bowler'])['runs'].sum()).reset_index()
# Balls = pd.DataFrame(bowler_df.groupby(['bowler'])['balls'].sum()).reset_index()
# Wickets = pd.DataFrame(bowler_df.groupby(['bowler'])['wickets'].sum()).reset_index()
# LBW = pd.DataFrame(bowler_df.groupby(['bowler'])['lbw'].sum()).reset_index()
# Bowled = pd.DataFrame(bowler_df.groupby(['bowler'])['bowled'].sum()).reset_index()
# w3b = pd.DataFrame(bowler_df.groupby(['bowler'])['3_w_b'].sum()).reset_index()
# w4b = pd.DataFrame(bowler_df.groupby(['bowler'])['4_w_b'].sum()).reset_index()
# w5b = pd.DataFrame(bowler_df.groupby(['bowler'])['5_w_b'].sum()).reset_index()

# overs = df.copy()
# overs['over_no'] = ''
# for i in range(len(overs)):
#     ball_no = overs['ball'][i]
#     over = int(str(ball_no).split('.')[0])
#     overs['over_no'][i] = over
# overs['over_no'] = overs['over_no'] + 1
# overdf = pd.DataFrame(overs.groupby(['match_id','bowler','over_no'])['isBowlerRuns'].sum()).rename(columns={'isBowlerRuns':'runs'}).reset_index()
# overdf['isMaiden'] = overdf.apply(lambda x : 1 if x['runs']==0 else 0, axis=1)
# maiden_df = pd.DataFrame(overdf.groupby(['bowler'])['isMaiden'].sum()).reset_index().rename(columns={'isMaiden':'maiden_overs'})
# kdf = pd.merge(innings,Wickets,on='bowler').merge(Runs,on='bowler').merge(Balls,on='bowler').merge(LBW,on='bowler').merge(Bowled,on='bowler').merge(w3b,on='bowler').merge(w4b,on='bowler').merge(w5b,on='bowler').merge(maiden_df, on='bowler')

# kdf['wicket_point'] = kdf['wickets']*25
# kdf['eco'] = 6*(kdf['runs']/kdf['balls'])
# kdf['eco<5'] = kdf.apply(lambda x : 6 if x['eco'] < 5 else 0, axis=1)
# kdf['eco(5-5.99)'] = kdf.apply(lambda x : 4 if ((x['eco'] <= 5.99) & (x['eco'] > 5)) else 0, axis=1)
# kdf['eco(6-7)'] = kdf.apply(lambda x : 2 if ((x['eco'] <= 7)& (x['eco'] > 6) ) else 0, axis=1)
# kdf['eco(10-11)'] = kdf.apply(lambda x : -2 if ((x['eco'] <= 11)& (x['eco'] > 10) ) else 0, axis=1)
# kdf['eco(11.01-12)'] = kdf.apply(lambda x : -4 if ((x['eco'] <= 12) & (x['eco'] > 11.01)) else 0, axis=1)
# kdf['eco>12'] = kdf.apply(lambda x : -6 if x['eco'] > 12 else 0, axis=1)
# kdf['maiden_point'] = (kdf['maiden_overs'] * 12)

# kdf['POINTS'] = kdf.apply(lambda x : sum(x[[ 'lbw', 'bowled',
#        '3_w_b', '4_w_b', '5_w_b', 'wicket_point', 'eco<5',
#        'eco(5-5.99)', 'eco(6-7)', 'eco(10-11)', 'eco(11.01-12)', 'eco>12', 'maiden_point']])/x['innings'],axis=1)

# kdf = kdf.sort_values('POINTS',ascending=False).reset_index(drop=True)

# # kdf.to_csv('onceAgain/csv_files/fantacy_point/bowler_fantasy_point_t20I_greater_than_180_total.csv', index=None)

In [42]:
player_list = ['N Pooran',"Ishan Kishan","SV Samson","SD Hope","J Charles","SA Yadav","Shubman Gill","SO Hetmyer",'R Powell',"Tilak Varma","BA King",'YBK Jaiswal','HH Pandya','JO Holder','AR Patel','KR Mayers','RL Chase','YS Chahal',"Kuldeep Yadav",'AS Joseph','Arshdeep Singh','R Shepherd',"Mukesh Kumar","AJ Hosein","OC McCoy","Ravi Bishnoi","Umran Malik",'O Thomas',"OF Smith",'Avesh Khan']
ipl_list =  ['N Pooran',"Ishan Kishan","SV Samson","SA Yadav","Shubman Gill","SO Hetmyer",'R Powell',"Tilak Varma",'YBK Jaiswal','HH Pandya','JO Holder','AR Patel','KR Mayers','YS Chahal',"Kuldeep Yadav",'AJ Joseph','Arshdeep Singh','R Shepherd',"Mukesh Kumar","AJ Hosein","Ravi Bishnoi","Umran Malik","OF Smith",'Avesh Khan']
t20i_list =  ['N Pooran',"Ishan Kishan","SV Samson","SD Hope","J Charles","SA Yadav","SO Hetmyer",'R Powell',"BA King",'HH Pandya','JO Holder','AR Patel','KR Mayers','RL Chase','YS Chahal','AJ Joseph','Arshdeep Singh','R Shepherd',"AJ Hosein","OC McCoy","Ravi Bishnoi",'O Thomas',"OF Smith",'Avesh Khan']

In [43]:
t20bat180 = pd.read_csv('fantacy_point/T20I/batter_fantasy_point_t20I_greater_than_180_total.csv')
t20bat180 = t20bat180[(t20bat180.striker.isin(player_list))]
iplbat180 = pd.read_csv('fantacy_point/IPL/batter_fantasy_point_ipl_2008_23_greater_than_180_total.csv')
iplbat180 = iplbat180[(iplbat180.striker.isin(player_list))]
t20bowl180 = pd.read_csv('fantacy_point/T20I/bowler_fantasy_point_t20I_greater_than_180_total.csv')
t20bowl180 = t20bowl180[(t20bowl180.bowler.isin(player_list))]
iplbowl180 = pd.read_csv('fantacy_point/IPL/bowler_fantasy_point_ipl_2008_23_greater_than_180_total.csv')
iplbowl180 = iplbowl180[(iplbowl180.bowler.isin(player_list))]

In [44]:
t20bat160 = pd.read_csv('fantacy_point/T20I/batter_fantasy_point_t20I_less_than_160_total.csv')
t20bat160 = t20bat160[(t20bat160.striker.isin(player_list))]
iplbat160 = pd.read_csv('fantacy_point/IPL/batter_fantasy_point_ipl_2008_23_less_than_160_total.csv')
iplbat160 = iplbat160[(iplbat160.striker.isin(player_list))]
t20bowl160 = pd.read_csv('fantacy_point/T20I/bowler_fantasy_point_t20I_less_than_160_total.csv')
t20bowl160 = t20bowl160[(t20bowl160.bowler.isin(player_list))]
iplbowl160 = pd.read_csv('fantacy_point/IPL/bowler_fantasy_point_ipl_2008_23_less_than_160_total.csv')
iplbowl160 = iplbowl160[(iplbowl160.bowler.isin(player_list))]

In [45]:
t20bat160_180 = pd.read_csv('fantacy_point/T20I/batter_fantasy_point_t20I_from_161to180_total.csv')
t20bat160_180 = t20bat160_180[(t20bat160_180.striker.isin(player_list))]
iplbat160_180 = pd.read_csv('fantacy_point/IPL/batter_fantasy_point_ipl_2008_23_from_161to180_total.csv')
iplbat160_180 = iplbat160_180[(iplbat160_180.striker.isin(player_list))]
t20bowl160_180 = pd.read_csv('fantacy_point/T20I/bowler_fantasy_point_t20I_from_161to180_total.csv')
t20bowl160_180 = t20bowl160_180[(t20bowl160_180.bowler.isin(player_list))]
iplbowl160_180 = pd.read_csv('fantacy_point/IPL/bowler_fantasy_point_ipl_2008_23_from_161to180_total.csv')
iplbowl160_180 = iplbowl160_180[(iplbowl160_180.bowler.isin(player_list))]

In [58]:
t20bat160_180[['striker','innings','POINTS']]

            striker  innings     POINTS
11   SA Yadav        5        62.200000
18   KR Mayers       4        56.000000
26   Ishan Kishan    4        51.250000
45   J Charles       5        46.200000
89   R Shepherd      3        36.666667
147  R Powell        9        28.111111
174  N Pooran        13       25.846154
179  BA King         8        24.875000
196  HH Pandya       9        23.111111
280  AJ Hosein       5        17.200000
281  SO Hetmyer      8        17.125000
304  SV Samson       4        15.750000
311  AS Joseph       1        15.000000
390  JO Holder       5        10.000000
471  OF Smith        4        6.000000
532  AR Patel        4        2.250000
606  SD Hope         2       -0.500000
615  Arshdeep Singh  1       -1.000000
635  YS Chahal       1       -1.000000
659  OC McCoy        2       -1.000000
709  O Thomas        1       -2.000000

In [55]:
iplbat160_180[['striker','POINTS']]

           striker     POINTS
5    SO Hetmyer     49.916667
16   Tilak Varma    44.142857
24   Shubman Gill   40.153846
74   Ishan Kishan   30.521739
95   N Pooran       27.200000
99   SA Yadav       26.214286
101  SV Samson      26.108108
124  HH Pandya      23.921053
176  YBK Jaiswal    17.875000
185  AR Patel       16.814815
286  R Powell       8.333333
300  R Shepherd     8.000000
343  Kuldeep Yadav  4.111111
345  JO Holder      4.000000
350  Mukesh Kumar   4.000000
359  Avesh Khan     3.000000
391  OF Smith       1.000000
411  Ravi Bishnoi   0.000000
450  Umran Malik   -1.000000
465  YS Chahal     -1.333333
480  AS Joseph     -2.000000

In [56]:
t20bowl160_180[['bowler','POINTS']]

             bowler     POINTS
58   YS Chahal       47.882353
68   Kuldeep Yadav   44.000000
77   O Thomas        42.000000
83   OC McCoy        41.571429
92   AS Joseph       40.000000
126  Avesh Khan      36.000000
129  JO Holder       35.444444
167  OF Smith        31.250000
213  AJ Hosein       26.428571
286  HH Pandya       22.888889
332  R Shepherd      18.250000
397  Arshdeep Singh  12.500000
422  AR Patel        10.000000
518  KR Mayers       0.000000

In [57]:
iplbowl160_180[['bowler','POINTS']]

             bowler     POINTS
11   OC McCoy        51.000000
25   R Shepherd      48.000000
39   Umran Malik     39.000000
68   AS Joseph       33.666667
74   YS Chahal       32.970588
86   JO Holder       31.000000
117  Avesh Khan      27.153846
120  Kuldeep Yadav   27.041667
125  OF Smith        27.000000
158  O Thomas        25.000000
177  Mukesh Kumar    24.666667
179  Arshdeep Singh  24.500000
195  HH Pandya       22.133333
196  Ravi Bishnoi    22.000000
207  AR Patel        20.846154
350  Tilak Varma     1.000000
393  YBK Jaiswal    -6.000000